/* la partie de background pour le menu */

.menu{
    background-image: url("/static/img/burger.jpg");
    background-size: cover;
    /* height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
 }

@media (max-with:780px){
    .menu{
        background-size: contain;
    }
}

/* la partie de carte pour le menu */
.card{
    background-color:rgba(0, 0, 0, 1) ;
    color: #fff;
    align-items: center;

}


.navbar .active:hover{
    background-color: rgb(69, 197, 64);
    transition: 0.5s ease-in-out;
    opacity: 1;
}
