{%load static %}
<nav class="navbar navbar-expand-md bg-dark">
  <!-- <a href=""><img src="{% static 'img/adepset.png' %}" width="165px"  alt=""></a> -->
  <ul class="navbar-nav ms-auto mx-5">
    <li class="nav-item mx-2"><a class="nav-link text-light font-weight-bold px-3" href="#">Home</a></li>
    <li class="nav-item mx-2"><a class="nav-link text-light font-weight-bold px-3" href="#">Skills</a></li>
    <li class="nav-item mx-2"><a class="nav-link text-light font-weight-bold px-3" href="#">Projects</a></li>
    <li class="nav-item mx-2"><a class="nav-link text-light font-weight-bold px-3" href="#">Team</a></li>
    <li class="nav-item mx-2"><a class="nav-link text-light font-weight-bold px-3" href="#">Contact</a></li>
  </ul>
</nav>